<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunji.doctormanager.dao.NursingEssentialsMapper">
  <resultMap id="BaseResultMap" type="cn.yunji.doctormanager.entity.NursingEssentials">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nursingTips" jdbcType="VARCHAR" property="nursingtips" />
    <result column="essentialsName" jdbcType="CHAR" property="essentialsname" />
    <result column="essentialsDescribe" jdbcType="VARCHAR" property="essentialsdescribe" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nursingTips, essentialsName, essentialsDescribe
  </sql>
  <!-- luoyc 根据主键数组查询 -->
  <select id="selectByPrimaryKeys" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nursingessentials
    <if test="ids != null">  
        where id in(  
            <foreach collection="ids" item="id" index="index" separator="," >    
                #{id,jdbcType=INTEGER}   
            </foreach>  
        )     
    </if> 
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nursingessentials
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nursingessentials
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yunji.doctormanager.entity.NursingEssentials">
    insert into nursingessentials (id, nursingTips, essentialsName, 
      essentialsDescribe)
    values (#{id,jdbcType=INTEGER}, #{nursingtips,jdbcType=VARCHAR}, #{essentialsname,jdbcType=CHAR}, 
      #{essentialsdescribe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.yunji.doctormanager.entity.NursingEssentials">
    insert into nursingessentials
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nursingtips != null">
        nursingTips,
      </if>
      <if test="essentialsname != null">
        essentialsName,
      </if>
      <if test="essentialsdescribe != null">
        essentialsDescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nursingtips != null">
        #{nursingtips,jdbcType=VARCHAR},
      </if>
      <if test="essentialsname != null">
        #{essentialsname,jdbcType=CHAR},
      </if>
      <if test="essentialsdescribe != null">
        #{essentialsdescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yunji.doctormanager.entity.NursingEssentials">
    update nursingessentials
    <set>
      <if test="nursingtips != null">
        nursingTips = #{nursingtips,jdbcType=VARCHAR},
      </if>
      <if test="essentialsname != null">
        essentialsName = #{essentialsname,jdbcType=CHAR},
      </if>
      <if test="essentialsdescribe != null">
        essentialsDescribe = #{essentialsdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yunji.doctormanager.entity.NursingEssentials">
    update nursingessentials
    set nursingTips = #{nursingtips,jdbcType=VARCHAR},
      essentialsName = #{essentialsname,jdbcType=CHAR},
      essentialsDescribe = #{essentialsdescribe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>