<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunji.doctormanager.dao.OfficeItemMapper" >
  <resultMap id="BaseResultMap" type="cn.yunji.doctormanager.entity.OfficeItem" >
    <id column="offID" property="offid" jdbcType="INTEGER" />
    <result column="officeId" property="officeid" jdbcType="INTEGER" />
    <result column="offName" property="offname" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    offID, officeId, offName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from officeitem
    where offID = #{offid,jdbcType=INTEGER}
  </select>
  <!--@author wangzw  -->
    <select id="findOffAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from officeitem
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from officeitem
    where offID = #{offid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yunji.doctormanager.entity.OfficeItem" >
    insert into officeitem (offID, officeId, offName
      )
    values (#{offid,jdbcType=INTEGER}, #{officeid,jdbcType=INTEGER}, #{offname,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.yunji.doctormanager.entity.OfficeItem" >
    insert into officeitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="offid != null" >
        offID,
      </if>
      <if test="officeid != null" >
        officeId,
      </if>
      <if test="offname != null" >
        offName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="offid != null" >
        #{offid,jdbcType=INTEGER},
      </if>
      <if test="officeid != null" >
        #{officeid,jdbcType=INTEGER},
      </if>
      <if test="offname != null" >
        #{offname,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yunji.doctormanager.entity.OfficeItem" >
    update officeitem
    <set >
      <if test="officeid != null" >
        officeId = #{officeid,jdbcType=INTEGER},
      </if>
      <if test="offname != null" >
        offName = #{offname,jdbcType=CHAR},
      </if>
    </set>
    where offID = #{offid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yunji.doctormanager.entity.OfficeItem" >
    update officeitem
    set officeId = #{officeid,jdbcType=INTEGER},
      offName = #{offname,jdbcType=CHAR}
    where offID = #{offid,jdbcType=INTEGER}
  </update>
</mapper>