/* 医嘱管理-按孕周或项目查看 @author Luoyc*/

* {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #696969;
	font-family: "微软雅黑";
}

label {
	font-weight: normal;
}
textarea{
	resize: none;
}
 
/*主div*/

.class_main {
	min-width: 1024px;
	/*max-width: 1440px;*/
	margin: 10px auto;
}


/*头部路径*/

.top_Nav {
	width: 100%;
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #D7D7D7;
}

.top_Nav .Nav_img {
	margin-right: 10px;
	float: left;
}

.top_Nav .Nav_content img {
	margin: 0px 5px;
}


/*顶部选项卡*/

.first-tap-control {
	margin-left: -30px;
	width: 100%;
}
.top-ul{
	width: 240px;
	height: 35px;
	margin-top: 20px;
	margin-left: 50px;
	/*top: 45px;
	left: 50px;
	position: absolute;
	display:flex;*/
}
.top-ul div {
	background: #EAEEF1;
	list-style-type: none;
	height: 35px;
	width: 120px;
	text-align: center;
}
.top-ul a {
	font-size: 14px;
	line-height: 35px;
	color: #666666;
	text-decoration: none
}

#view_by_weeks{
	background-color: #8CB6EF;
}

.top-ul .active .active-a {
	color: white;
}

#view_by_weeks {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#view_by_project {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* 中部选项卡*/

.nva-tabs-ul {
	background-color: #EAEEF1;
}

.nva-tabs-ul li a {
	border: none;
	color: #000000;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	font-size: 12px;
}

.nav-tabs {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.nva-tabs-ul li {
	border: none;
	width: 16%;
	text-align: center;
}

/*.right-Tab-Control {
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 50px;
	padding-left: 25px;
	margin-left: 10px;
}*/

.right-Tab-Control ul .active {
	background: none;
}

.right-Tab-Control ul {
	border-radius: 10px;
	width: 100%;
	min-width: 995px;
}
#myTab{
	margin-left: 0;
}
.right-Tab-Control ul li a {
	color: #999999;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border: none;
}


/*中部选项卡内部*/

.inner-div {
	/*margin-left: 10px;*/
	background-color: rgb(247, 250, 254);
}

.div-line {
	width: 100%;
	margin-top: 20px;
	background: linear-gradient(to right, #1f67fa, #2dd7c6);
}


/*基本信息*/

.basic-information {
	width: 100%;
	margin: 0 auto;
	/*margin-top: 15px;*/
	/*padding-bottom: 30px;*/
}

.basic-information table td {
	width: 105px;
	line-height: 30px;
}

.basic-information table tr td:nth-child(2n+1) {
	padding-left: 20px;
	color: #666666;
}

.basic-information table tr td:nth-child(2n) {
	padding-left: 20px;
	color: #999999;
}

.table-move-right {
	margin-left: 100px;
}

.title1 {
	float: left;
	padding-left: 10px;
	margin-top: 18px;
}

.title2 {
	float: left;
	padding-left: 10px;
	margin-top: 34px;
}

.title3 {
	float: left;
	padding-left: 10px;
	margin-top: 20px;
}

.title4 {
	float: left;
	padding-left: 10px;
	margin-top: 5px;
}

.basic-information hr {
	/*margin-left: -10px;*/
}


/*风险模型*/

html {
	height:100%;
}

.all {
	height: 100%;
	display: flex;
	margin-top: 10px;
}

.div_right {
	flex: 8;
	width: 70%;
	height: 80%;
	float: left;
	margin-left: 10px;
	padding-left: 20px;
}

.light-risk {
	position: absolute;
	width: 56px;
	height: 20px;
	color: rgb(255, 229, 0);
	margin-top: 191px;
	font-size: 14px;
}

.hight-risk {
	position: absolute;
	width: 56px;
	height: 20px;
	left: 366px;
	color: rgb(255, 106, 0);
	padding-top: 35px;
	font-size: 14px;
}

.very-risk {
	position: absolute;
	width: 56px;
	height: 20px;
	left: 458px;
	color: rgb(255, 50, 14);
	font-size: 14px;
	margin-top: -80px;
}

.point-table {
	float: left;
	margin-top: -35px;
}

#chart {
	height: 360px;
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: -120px;
}

.risk-table {
	border: none;
	line-height: 21px;
	color: #555555;
	margin: 0 auto;
	font-size: 14px;
	margin-left: 28px;
}

.risk-table tr:nth-child(1) td:nth-child(1) {
	width: 150px;
}

.risk-table tr:nth-child(1) td:nth-child(2) {
	width: 150px;
	text-align: right;
	padding-left: 10px;
}

.risk-table tr:nth-child(1) td:nth-child(3) {
	width: 130px;
	text-align: right;
}

.risk-table tr td .add-span {
	margin-left: 30px;
}

.risk-table tr:nth-child(2) {
	text-align: center;
	line-height: 40px;
}

.risk-table tr:nth-child(2) td:nth-child(1) {
	padding-right: 56px;
}

.risk-table tr:nth-child(2) td:nth-child(2) {
	padding-right: 20px;
}

.risk-table tr:nth-child(2) td:nth-child(3) {
	padding-left: 30px;
}

#standard_left {
	font-size: 15px;
	float: left;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
}

#standard_middle {
	margin-left: 130px;
	line-height: 20px;
}

#standard_right {
	color: rgb(116, 164, 229);
	float: right;
	margin-top: -15px;
	margin-right: 20px;
}

#div_top {
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin-right: 10px;
	padding-top: 20px;
	padding-left: 20px;
	margin-top: 10px;
	margin-left: -20px;
	padding-bottom: 20px;
}

#div_chart {
	flex: 1;
}

.div_left {
	flex: 1;
	font-size: 14px;
	color: #333333;
	margin-top: 20px;
}

.div_bottom {
	display: flex;
}

.risk-textarea {
	margin-top: 20px;
	width: 400px;
	height: 150px!important;
}

.color-change {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#2dd7c6, endColorStr=#1f67fa);
	/*IE*/
	background: -moz-linear-gradient(top, #2dd7c6, #1f67fa));
	/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2dd7c6), to(#1f67fa));
	/*谷歌*/
	color: white;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
	width: 120px;
	border: none;
	float: right;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.color-no-change {
	border: 1px solid #666666;
	color: #666666;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
	width: 120px;
	float: right;
	margin-right: 40px;
	background-color: white;
	margin-top: 10px;
}


/*编辑医嘱*/

.title5 {
	float: left;
}

.add-more-advice {
	float: right;
	margin-top: 25px;
	color: #6FA0E4;
}

.doctor-advice-editor {
	margin-top: 30px;
	border: 1px solid gainsboro;
	margin-left: 163px;
	padding: 10px;
	border-radius: 5px;
	padding-bottom: 50px;
}


/*温馨提示*/

.content_warmTip,
.content_Notice {
	width: 100%;
	margin: 0 auto;
	padding: 0px 5px;
	margin-left: 27px;
}

.content_warmTip span,
.content_warmTip label {
	color: #6FA0E4;
}

.content_warmTip label {
	margin-left: 133px;
}

.advice_title {
	float: left;
	margin-left: 83px;
}

.Notice_title {
	width: 130px;
	height: 170px;
	float: left;
	padding-top: 35px;
	padding-left: 8px;
}

.Notice_content {
	height: 170px;
	line-height: 30px;
	margin-top: 50px;
}

.Notice_content input {
	width: 25px;
	height: 15px;
	vertical-align: text-bottom;
}

.Notice_content span,
.Notice_content select {
	margin-left: 10px;
	height: 25px;
}

.Notice_send {
	width: 100%;
	height: 100px;
	line-height: 30px;
	padding-top: 10px;
	margin-top: 10px;
}

.send_title {
	width: 130px;
	height: 100px;
	float: left;
	padding-top: 30px;
	text-align: right;
	padding-right: 10px;
}

.send_content input {
	width: 25px;
	height: 15px;
	vertical-align: text-bottom;
}

.send_content label {
	width: 70px;
}

.content_submit button {
	width: 100px;
	height: 25px;
	margin-left: 20px;
}

.bottom-remark {
	float: left;
	margin-left: -3px;
	margin-top: -5px;
}

.bottom-remark span {
	width: 10%;
}

.remind-frequentness {
	float: left;
	margin-left: 130px;
}


/*添加更多医嘱弹出框*/

.moreAdvice-modal-content {
	display: flex;
}

.modal-content-left {
	flex: 1;
}

.modal-content-right input {
	width: 25vw;
	border: 1px solid gainsboro;
	border-right-color: white;
	height: 30px;
	font-size: 14px;
}

.modal-content-right button {
	width: 9vw;
	margin-left: -4px;
	height: 30px;
}

.modal-content-right {
	flex: 1;
}

.modal-content-left textarea {
	width: 90%;
	border: none;
	height: 45vh;
	margin-left: 2vw;
	font-size: 14px;
	background-color: rgb(242, 242, 242);
}

.modal-content {
	padding-top: 40px;
	height: 60vh;
	width: 70vw;
	position: fixed;
	margin-top: 90px;
	left: -8vw;
	background-color: rgb(242, 242, 242);
}

.advice-color-change {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#2dd7c6, endColorStr=#1f67fa);
	/*IE*/
	background: -moz-linear-gradient(top, #2dd7c6, #1f67fa));
	/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2dd7c6), to(#1f67fa));
	/*谷歌*/
	color: white;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
	width: 120px;
	border: none;
	margin-right: 40px;
	margin-top: 5px;
}

.advice-color-no-change {
	border: 1px solid #666666;
	color: #666666;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
	width: 120px;
	margin-right: 40px;
	background-color: white;
	margin-top: 5px;
}

.button-div {
	margin-left: 15vw;
}

.common-color {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#2dd7c6, endColorStr=#1f67fa);
	/*IE*/
	background: -moz-linear-gradient(top, #2dd7c6, #1f67fa));
	/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2dd7c6), to(#1f67fa));
	/*谷歌*/
	color: white;
	font-size: 14px;
	border: none;
}

.advice-table1 {
	margin-top: 5px;
}

.advice-table1 td {
	border-right: 1px solid rgb(204, 204, 204);
	padding: 0 10px;
	color: rgb(204, 204, 204);
}

.advice-table1 td:last-child {
	border: none;
	padding-right: 0px;
}

.advice-table1 td:first-child {
	padding-left: 0px;
}

.table2-div {
	margin-top: 5px;
	margin-right: 10px;
	border: 1px solid rgb(169, 169, 169);
	background-color: white;
	padding-left: 2px;
	height: 38vh;
	overflow-y: scroll;
}


/*自测信息*/

#panel-978068 ul {
	border: none;
	margin-top: 5px;
	min-width: 995px;
}

#panel-978068 ul li a {
	font-size: 12px;
	width: 140px;
	text-align: center;
	line-height: 14px;
}

/*#panel-978068 ul .active a {
	background-color: #5794e7;
	border-radius: 6px;
	color: white;
}*/


/*血糖趋势*/

.blood-total {
	display: flex;
	border-bottom: 1px solid gainsboro;
	background-color: rgb(247, 250, 254);
}

.bloodsugar-div-right,.bloodsugar-div-left {
	flex: 1;
	margin-left: 20px;
}

.first-label {
	margin-top: 100px;
	font-size: 14px;
}

.bloodsugar-div-right tr td label,.bloodsugar-div-right tr td span,.first-label span {
	font-size: 14px;
}
.first-table{
	width: 90%;
}
.first-table tr td:nth-child(2) {
	padding-left: 50px;
}
.first-table tr td{
	width:40%;
}

.bloodsugar-title {
	margin-left: 19vw;
	font-size: 16px;
	margin-top: 10px;
}

#chart1,#chart2,#chart3,#chart4,#chart5,#chart6,#chart7,#chart8,#chart9,#chart10,#chart11,#chart12,#chart13,#chart14,#chart15{
	margin-top: -30px;
	width: 100%;
	height: 360px;
}
.second-table {
	margin-top: 100px;
	width: 100%;
	background-color: white;
}

.second-table td {
	border: solid 1px #E4E4E4;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}
/*心电变化*/
.electrocardio-inner-div{
	background-color: rgb(247, 250, 254);
	padding-top: 20px;
	padding-left: 30px;
}
.electrocardio-photo{
	font-size: 14px;
	color: #333333;
	margin-top: 20px;
}
.electrocardio-photo img{
	margin-top: 10px;
}
.electrocardio-table{
	margin-top: 10px;
	width: 80%;
}
/*体重*/
.query{
	font-size: 14px;
	margin-top: 90px;
	margin-bottom: -70px;
}
.query img{
	width: 22px;
}
.query input{
	width: 110px;
	margin-left: 10px;
}
.for-bloodpressure{
	margin-left: 30px;
	margin-bottom: 30px;
}
.for-bloodpressure label,.for-bloodpressure span{
	font-size: 14px;
}
.view-byProject{
	margin-top: 20px;
}
.nva-tabs-ul-project li{
	width: 12%;
}
.class_firstDiagnose_tab_examineProject_info{
	border: none;
}
/*按项目查看*/
/*基本信息*/
/*.div-border-for-usual{
	border: 1px solid gainsboro;
	/*margin-left: 10px;*/
	padding-left: 55px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}*/
.select-div{
	margin-left: 75px;
	margin-bottom: -25px;
	margin-top: 10px;
}
.select-div span select{
	width: 50px;
}
.textarea-div{
	margin-left: 180px;
	margin-top: -20px;
}
.textarea-div textarea{
	width: 450px;
	height: 40px;
	color: red;
}
.basci-info-title1{
	margin-top: 35px;
}
.basci-info-title3{
	margin-top: 65px;
}
.div-border-for-usual .div-title{
	color: #666666;
	font-weight: bold;
}
.basic-info-for-project-button{
	border: none;
	background-color:#5794e7;
	color: white;
}
.edit-button{
	margin-left: 40vw;
}
/*.bloodRutine-table-div table{
	width: 65%;
	margin-left: 77px;
	margin-top: 20px;
}*/
.bloodRutine-table-div table tr td:nth-child(2n),.bloodRutine-table-div table tr td:nth-child(2n+1){
	padding-left:0px ;
}
.click-to-see{
	color:#8CB6EF;
}
.move-right{
	margin-left: 57px;
}
.bloodRutine-title2{
	margin-top: 180px;
}
.bloodRutine-table-div table tr td:nth-child(5),.bloodRutine-table-div table tr td:nth-child(3){
	color: #999999;
}
.neurineRutine-table table tr td:nth-child(4){
	color: #666666;
}
.bloodRutine-table-div .tr_firstDiagnose_color td:nth-child(n){
	color: #333333;
}
.b-scan-title{
	margin-top: 5px;
}
.b-scan-title2{
	margin-top: 53px;
}
.click-to-see-for-B-scan{
	float: right;
	margin-right: 20px;
}


.div_doctorAdviceManager_main {
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}

/*.div_doctorAdviceManager_title {
	width: 100%;
	height: auto;
	padding: 9px 9px 9px 55px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border: 1px solid #E4E4E4;
	overflow: hidden;
}*/

.td_doctorAdviceManager_wdith {
	height: 29px;
}

.td_doctorAdviceManager_wdith select {
	margin-left: 3px;
	margin-right: 3px;
	width: 55px;
	height: 21px;
}

.div_doctorAdviceManager_table {
	float: left;
	width: 25%;
}

.td_doctorAdviceManager_width2 {
	width: 59px;
}

.td_doctorAdviceManager_colors {
	color: #B29999;
}

.td_doctorAdviceManager_colors2 {
	color: #FF0000;
}

.td_doctorAdviceManager_size {
	font-size: 15px;
	font-weight: bold;
	color: #696969;
}

.div_doctorAdviceManager_textarea textarea {
	margin-top: 5px;
	width: 400px;
	height: 55px;
	color: #FF0000;
	resize: none;
}

.div_doctorAdviceManager_content {
	float: left;
	width: 50%;
}

.div_doctorAdviceManager_content p {
	/*margin-left: 55px;*/
	margin-top: 9px;
}

.p_doctorAdviceManager_size {
	font-size: 15px;
	font-weight: bold;
	color: #696969;
}

.p_doctorAdviceManager_size select {
	width: 190px;
	vertical-align: text-bottom;
}

.span_doctorAdviceManager_color {
	color: #696969;
	font-weight: normal;
	font-size: 15px;
}

.div_doctorAdviceManager_data {
	/*margin-left: 55px;*/
	width: 50%;
	clear: both;
	padding-top: 7px;
}

.div_doctorAdviceManager_data table {
	border-collapse: collapse;
	width: 100%;
}

.div_doctorAdviceManager_data table tr td {
	text-align: center;
}

.tr_doctorAdviceManager_border td {
	height: 35px;
	border: 1px solid #797979;
}

.td_doctorAdviceManager_width3 {
	width: 155px;
}

.div_doctorAdviceManager_container {
	/*margin-left: 55px;*/
	width: 100%;
	padding-top: 7px;
}

.div_doctorAdviceManager_container table {
	margin-top: 15px;
	width: 96%;
}

.tr_doctorAdviceManager_widht {
	width: 24.2%;
	float: left;
}

.td_doctorAdviceManager_widht {
	width: 115px;
}

.div_doctorAdviceManager_right {
	margin-top: 9px;
	float: right;
	color: #5794E7;
	cursor: pointer;
	padding: 0 30px 15px 0;
}
/*.div_doctorAdviceManager_container2{
	width: 100%;
	height: auto;
	padding: 9px 9px 9px 55px;
	border-radius: 5px;
	margin-top: 15px;
	border: 1px solid #E4E4E4;
	overflow: hidden;
}*/
/*.left_doctorAdviceManager_content{
	float: left;
	width: 15%;
	line-height: 95px;
}*/
.left_doctorAdviceManager_content2{
	float: left;
	width: 75%;
	line-height: 27px;
}
 
.td_doctorAdviceManager_style{
	width: 150px;
}
.td_doctorAdviceManager_style2{
	width: 120px;
}
.td_doctorAdviceManager_style3{
	width: 120px;
}
.span_doctorAdviceManager_size{
	font-weight: bold;
	font-size: 15px;
}
.middle_doctorAdviceManager_p{
	padding-left:45px;
}
.left_doctorAdviceManager_content1{
	float: left;
	width: 12%;
	height: 309px;
	line-height: 309px;
}
.td_doctorAdviceManager_widht4{
	width: 110px;
}
.left_doctorAdviceManager_content3{
	float: left;
	width: 75%;
	line-height: 27px;
}
.left_doctorAdviceManager_content3 table{
	width: 25%;
	float: left;
}
.form_doctorAdviceManager_content{
	clear: left;
	height: auto;
	width: 100%;
	overflow: hidden;
	border-top:1px solid #F8F8F8;
}
.form_doctorAdviceManager_content table{
	margin-top: 15px;
	width: 80%;
	text-align: center;
	border-collapse:collapse;
}
.td_doctorAdviceManager_widght{
	 width: 191px;
}
.width_style {
	margin-top: 15px; 
	padding-top: 15px
}
.tr_doctorAdviceManager_back td{
	background:#EAEEF1;
}
.table_doctorAdviceManager_border tr td{
	border: 1px solid #BBBBBB;
}
.div_doctorAdviceManager_con {
	margin-left: 70px;
	width: 91%;
}
.div_doctorAdviceManager_con table {
	width: 96%;
}
.div_doctorAdviceManager_tab {
	float: left;
	width: 50%;
}

 
.check_doctorAdviceManager_position{
	position: absolute;
	top:35px; 
	left: 5px;
	display: none;
}
.div_doctorAdviceManager_triangle{
	border-bottom: 10px solid #E4E4E4;
	border-left: 7px solid transparent; 
	border-right: 7px solid transparent; 
	width: 0;height: 0;
}
.triangle_doctorAdviceManager_container{
	width: 125px; background: #F4F7F9;
	padding: 5px;
	border-radius: 5px; 
	margin-left: -37px;
}
.p_doctorAdviceManager_distance{
	margin: 0;
	padding: 0;
}
.date_doctorAdviceManager_color{
	color:#5794E7 ;
}
.background-color-white{
	background-color: white;
}
.div_NST_data{
	display: flex;
	height: 24px;
}
.div_NST_color,.div_NST_color span{
	color: #555;
	font-weight: 700;
}
.fischer_color span{
	font-weight: 100;
}
